  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #6A1A68;
    border: 0px none #ffffff;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

body {
  margin: 0;
  background-color: #f5f8f9;
  overflow: hidden;
}

* {
  font-family: 'Helvetica';
}

nav, nav > .right {
  background-color: #6A1A68;
  flex-direction: row;
  display: flex;
}

nav .image {
  width: 50px;
  height: 50px;
  background-image: url("https://cdn.discordapp.com/attachments/626418122294951947/693459906866577448/logo_2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

nav div, nav input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f5f8f9;
  cursor: pointer;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

nav:nth-child(1) > div:hover:not(.nohover) {
  background-color: #a256a0;
  transition: .3s;
}

nav:nth-child(1) > div.active {
  border-bottom: 3px solid white;
}

nav > .right {
  margin-left: auto;
}

nav > .right .image {
  background-image: url("https://cdn.discordapp.com/attachments/626418122294951947/693459906866577448/logo_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

nav > .right > * {
  margin: 10px;
}

nav .post {
  background: #a256a0;
  border-radius: .5em;
  box-shadow: 0 0px 10px 5px rgba(0,0,0,0.2);
  transition: .3s;
}
nav .post:hover {
  background: #f5f8f9;
  color: #6A1A68;
}
nav .post:active {
  transform: translateY(1px);
}

::selection {
    color: none;
    background: none;
}

::-moz-selection {
    color: none;
    background: none;
}


nav:nth-child(2) {
  padding-left: 2em;
  background-color: #f5f8f9;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.2), 0 0px 10px 0 rgba(0,0,0,0.19);
}

nav:nth-child(2) > div:hover {
  color: #6A1A68;
}

nav:nth-child(2) > div {
  color: black;
  padding: 1em;
}

nav:nth-child(2) > .active {
  border-bottom: 3px solid #6A1A68;
  color: #6A1A68 !important;
}

.acontainer {
  width: 100%;
  display: flex;
  margin: 2em;
  height: 80%;
  position: absolute;
}

.main {
  flex:3;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.selector {
  flex: 1
}

.annonce {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 2em;
  flex-grow: inherit;
  flex-shrink: inherit;
  justify-content: space-between;
  cursor: pointer
}

.annonce * {
  color: white;
}

.annonce > h1 {
  padding: .3em 0 0 1em
}

.annonce > p {
  margin-left: auto;
  padding-right: 1em;
}