.acontainer {
  width: 100%;
  display: flex;
  margin: 2em;
  height: 80%;
  position: absolute;
}

.main {
  flex:3;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.selector {
  flex: 1
}

.annonce {
  background: #6A1A68;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em;
  flex-grow: inherit;
  flex-shrink: inherit;
  flex-basis: 30%;
  justify-content: space-between;
  cursor: pointer
}

.annonce * {
  color: white;
}

.annonce > h1 {
  padding: .3em 0 0 1em
}

.annonce > p {
  margin-left: auto;
  padding-right: 1em;
}