body {
  margin:0;
  background-color: #f5f8f9;
  overflow: hidden
}

* {
  font-family: 'Helvetica Neue LT Std';
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("https://cdn.discordapp.com/attachments/626418122294951947/693475960598691880/Helvetica-Neue-LT-Std-65-Medium.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #6A1A68;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

/*
::selection {
  color: none;
  background: none;
}

::-moz-selection {
    color: none;
    background: none;
}*/
